/node_modules

/public/*
!/public/*.*
!/public/import_demo_files/

/public/mix-manifest.json
/public/storage/*
/public/uploads/*
!/public/uploads/
!/public/uploads/csv/


/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.idea
/.vscode

/upload-ui.sh
yarn.lock

